	html {
/* 			background-image: ; */
/* 			background-repeat: no-repeat; */
/* 			background-attachment: scroll; */
/* 			background-position: -90px -180px; */
/* 			background-size: 70%; */
			background-color: white;
		}
/* 	nav {font-size: 90%; */
/* 		} */
	body { background-color: none;
		}
	header {text-align: center;
/* 			font-family: "Times New Roman", Serif; */
			padding: ;
			background-color: none;
			border-bottom: 2px solid #FF6C6C;
			margin-bottom: 10px;
/* 			box-shadow: 0 0 0 0.2rem rgba(255, 108, 108, 0.25) */
			}
	footer {
			position:absolute;
    		bottom: 10px;
			left: 10px;
			right: 10px;
			border-top: 2px solid #FF6C6C;
			border-bottom: 1px solid #FF6C6C;
			padding: 15px;
			margin-top: 15px;
			background-color: none;
			}
	.row {
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		margin-right: 0px;
		margin-left: 0px;
		background-color: none;
	}
	.row:after {
    content: "";
    clear: both;
    display: block;
	}
	.align {
	float: right;
	background-color: none;
	}
	.header {
	}
	.header-a {
	text-align: center;
	font-size: 1rem; 
	text-align: left;
	}
	.div-display {
	display: inline-block;
	border: 2px solid rgba(255, 108, 108, 0.5);
	margin-left: 15px;
	margin-bottom: 10px;
	}
	.form-control {
	  position: relative;
	  display: block;
	  width: 100px;
	  padding: 0.375rem 0.75rem;
	  font-size: 1rem;
	  line-height: 1.0;
	  color: #495057;
	  background-color: #fff;
	  background-image: none;
	  background-clip: padding-box;
	  border: 1px solid #ced4da;
	  border-radius: 0.25rem;
	  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
	}
	
	.form-control::-ms-expand {
	  background-color: transparent;
	  border: 0;
	}
	
	.form-control:focus {
	  color: #495057;
	  background-color: #fff;
	  border-color: #FF6C6C;
	  outline: none;
	  box-shadow: 0 0 0 0.2rem rgba(255, 108, 108, 0.25);
	}
	.form-control:hover {
	  color: #495057;
	  background-color: #fff;
	  border-color: #FF8C8C;
	  outline: none;
	  box-shadow: 0 0 0 0.2rem rgba(255, 108, 108, 0.25);
	}
	.form-control::-webkit-input-placeholder {
	  color: #868e96;
	  opacity: 1;
	}
	
	.form-control:-ms-input-placeholder {
	  color: #868e96;
	  opacity: 1;
	}
	
	.form-control::-ms-input-placeholder {
	  color: #868e96;
	  opacity: 1;
	}
	
	.form-control::placeholder {
	  color: #868e96;
	  opacity: 1;
	}
	
	.form-control:disabled, .form-control[readonly] {
	  background-color: #e9ecef;
	  opacity: 1;
	}
	.input-group {
	  position: relative;
	  display: -ms-flexbox;
	  display: flex;
	  -ms-flex-align: stretch;
	      align-items: stretch;
	  width: 100%;
	}	
	.input-group .form-control {
	  position: relative;
	  z-index: 2;
	  -ms-flex: 1 1 auto;
	      flex: 1 1 auto;
	  width: 1%;
	  margin-bottom: 0;
	}
	
	.input-group .form-control:focus, .input-group .form-control:active, .input-group .form-control:hover {
	  z-index: 3;
	}
	
	.input-group-addon,
	.input-group-btn,
	.input-group .form-control {
	  display: -ms-flexbox;
	  display: flex;
	  -ms-flex-align: center;
	      align-items: center;
	}
	
	.input-group-addon:not(:first-child):not(:last-child),
	.input-group-btn:not(:first-child):not(:last-child),
	.input-group .form-control:not(:first-child):not(:last-child) {
	  border-radius: 0;
	}
	.input-group-btn {
	  white-space: nowrap;
	}
	.input-group .form-control:not(:last-child),
	.input-group-btn:not(:last-child) > .btn,
	.input-group-btn:not(:last-child) > .btn-group > .btn,
	.input-group-btn:not(:last-child) > .dropdown-toggle,
	.input-group-btn:not(:first-child) > .btn:not(:last-child):not(.dropdown-toggle),
	.input-group-btn:not(:first-child) > .btn-group:not(:last-child) > .btn {
	  border-top-right-radius: 0;
	  border-bottom-right-radius: 0;
	}
	.input-group .form-control:not(:first-child),
	.input-group-btn:not(:first-child) > .btn,
	.input-group-btn:not(:first-child) > .btn-group > .btn,
	.input-group-btn:not(:first-child) > .dropdown-toggle,
	.input-group-btn:not(:last-child) > .btn:not(:first-child),
	.input-group-btn:not(:last-child) > .btn-group:not(:first-child) > .btn {
	  border-top-left-radius: 0;
	  border-bottom-left-radius: 0;
	}
	.input-group-btn {
	  position: relative;
	  -ms-flex-align: stretch;
	      align-items: stretch;
	  font-size: 0;
	  white-space: nowrap;
	}
	
	.input-group-btn > .btn {
	  position: relative;
	}
	
	.input-group-btn > .btn + .btn {
	  margin-left: -1px;
	}
	
	.input-group-btn > .btn:focus, .input-group-btn > .btn:active, .input-group-btn > .btn:hover {
	  z-index: 3;
	}
	
	.input-group-btn:first-child > .btn + .btn {
	  margin-left: 0;
	}
	
	.input-group-btn:not(:last-child) > .btn,
	.input-group-btn:not(:last-child) > .btn-group {
	  margin-right: -1px;
	}
	
	.input-group-btn:not(:first-child) > .btn,
	.input-group-btn:not(:first-child) > .btn-group {
	  z-index: 2;
	  margin-left: 0;
	}
	
	.input-group-btn:not(:first-child) > .btn:first-child,
	.input-group-btn:not(:first-child) > .btn-group:first-child {
	  margin-left: -1px;
	}
	
	.input-group-btn:not(:first-child) > .btn:focus, .input-group-btn:not(:first-child) > .btn:active, .input-group-btn:not(:first-child) > .btn:hover,
	.input-group-btn:not(:first-child) > .btn-group:focus,
	.input-group-btn:not(:first-child) > .btn-group:active,
	.input-group-btn:not(:first-child) > .btn-group:hover {
	  z-index: 3;
	}
	.btn {
	  display: inline-block;
	  font-weight: 400;
	  text-align: center;
	  white-space: nowrap;
	  vertical-align: middle;
	  -webkit-user-select: none;
	     -moz-user-select: none;
	      -ms-user-select: none;
	          user-select: none;
	  border: 1px solid transparent;
	  padding: 0.375rem 0.75rem;
	  font-size: 1rem;
	  line-height: 1.0;
	  border-radius: 0.25rem;
	  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	}
	
	.btn:focus, .btn:hover {
	  text-decoration: none;
	}
	
	.btn:focus, .btn.focus {
	  outline: 0;
	  box-shadow: 0 0 0 0.2rem rgba(255, 108, 108, 0.25);
	}
	
	.btn.disabled, .btn:disabled {
	  opacity: .65;
	}
	
	.btn:not([disabled]):not(.disabled):active, .btn:not([disabled]):not(.disabled).active {
	  background-image: none;
	}
	.btn-primary {
	  color: #fff;
	  background-color: #FF6C6C;
	  border-color: #FF6C6C;
	}
	
	.btn-primary:hover {
	  color: #fff;
	  background-color: #FF6C6C;
	  border-color: #FF6C6C;
	  box-shadow: 0 0 0 0.2rem rgba(255, 108, 108, 0.25);
	}
	
	.btn-primary:focus, .btn-primary.focus {
	  box-shadow: 0 0 0 0.2rem rgba(255, 108, 108, 0.25);
	}
	
	.btn-primary.disabled, .btn-primary:disabled {
	  background-color: #007bff;
	  border-color: #007bff;
	}
	
	.btn-primary:not([disabled]):not(.disabled):active, .btn-primary:not([disabled]):not(.disabled).active,
	.show > .btn-primary.dropdown-toggle {
	  color: #fff;
	  background-color: #FF6C6C;
	  border-color: #FF6C6C;
	  box-shadow: 0 0 0 0.2rem rgba(255, 108, 108, 0.5);
	}

	.nav-link {
	  display: block; 
	  padding: 0.5rem 1rem;
	  background-color: none;
	  line-height: 1.0;
	  margin-left: 15px;
	  margin-right: 15px;
	  font-weight: bold;
	}
	
	.nav-link:focus, .nav-link:hover {
	  text-decoration: none;
	}
	
	.nav-link.disabled {
	  color: #868e96;
	}
	
	.nav-tabs .nav-link {
	  border: 1px solid transparent;
	  border-top-left-radius: 0.25rem;
	  border-top-right-radius: 0.25rem;
	}
	
	.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
	  border-color: #e9ecef #e9ecef #ddd;
	}
	
	.nav-tabs .nav-link.disabled {
	  color: #868e96;
	  background-color: transparent;
	  border-color: transparent;
	}
	
	.nav-tabs .nav-link.active,
	.nav-tabs .nav-item.show .nav-link {
	  color: #495057;
	  background-color: #fff;
	  border-color: #ddd #ddd #fff;
	}
	
	.nav-pills .nav-link {
	  border-radius: 0.25rem;
	}
	
	.nav-pills .nav-link.active,
	.nav-pills .show > .nav-link {
	  color: #fff;
	  background-color: #007bff;
	}
	
	.nav-fill .nav-item {
	  -ms-flex: 1 1 auto;
	      flex: 1 1 auto;
	  text-align: center;
	}
	
	.nav-justified .nav-item {
	  -ms-flex-preferred-size: 0;
	      flex-basis: 0;
	  -ms-flex-positive: 1;
	      flex-grow: 1;
	  text-align: center;
	}
	
	.tab-content > .tab-pane {
	  display: none;
	}
	
	.tab-content > .active {
	  display: block;
	}
	
	.navbar {
	  position: relative;
	  display: -ms-flexbox;
	  display: flex;
	  -ms-flex-wrap: wrap;
	      flex-wrap: wrap;
	  -ms-flex-align: center;
	      align-items: center;
	  -ms-flex-pack: justify;
	      justify-content: space-between;
	  padding: 0.5rem 1rem;
	}
	
	.navbar > .container,
	.navbar > .container-fluid {
	  display: -ms-flexbox;
	  display: flex;
	  -ms-flex-wrap: wrap;
	      flex-wrap: wrap;
	  -ms-flex-align: center;
	      align-items: center;
	  -ms-flex-pack: justify;
	      justify-content: space-between;
	}
	
	.navbar-brand {
	  display: inline-block;
	  padding-top: 0.3125rem;
	  padding-bottom: 0.3125rem;
	  margin-right: 1rem;
	  font-size: 1.25rem;
	  line-height: inherit;
	  white-space: nowrap;
	}
	
	.navbar-brand:focus, .navbar-brand:hover {
	  text-decoration: none;
	}
	
	.navbar-nav {
	  display: -ms-flexbox;
	  display: flex;
	  -ms-flex-direction: column;
	      flex-direction: column;
	  padding-left: 0;
	  margin-bottom: 0;
	  list-style: none;
	}
	
	.navbar-nav .nav-link {
	  padding-right: 0;
	  padding-left: 0;
	}
	
	.navbar-nav .dropdown-menu {
	  position: static;
	  float: none;
	}
	
	.navbar-text {
	  display: inline-block;
	  padding-top: 0.5rem;
	  padding-bottom: 0.5rem;
	}
	
	.navbar-collapse {
	  -ms-flex-preferred-size: 100%;
	      flex-basis: 100%;
	  -ms-flex-positive: 1;
	      flex-grow: 1;
	  -ms-flex-align: center;
	      align-items: center;
	}
	
	.navbar-toggler {
	  padding: 0.25rem 0.75rem;
	  font-size: 1.25rem;
	  line-height: 1;
	  background: transparent;
	  border: 1px solid transparent;
	  border-radius: 0.25rem;
	}
	
	.navbar-toggler:focus, .navbar-toggler:hover {
	  text-decoration: none;
	}
	
	.navbar-toggler-icon {
	  display: inline-block;
	  width: 1.5em;
	  height: 1.5em;
	  vertical-align: middle;
	  content: "";
	  background: no-repeat center center;
	  background-size: 100% 100%;
	}
	/*!
	 * Bootstrap v4.0.0-beta.2 (https://getbootstrap.com)
	 * Copyright 2011-2017 The Bootstrap Authors
	 * Copyright 2011-2017 Twitter, Inc.
	 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
	 */
	
	a {
		color: #4C4C4C;
		text-decoration: none;
		background-color: transparent;
		-webkit-text-decoration-skip: objects
	}
	
	a:hover {
		color: #FF6C6C;
		text-decoration: none;
	}
	
	a:not ([href] ):not ([tabindex] ){
		color: inherit;
		text-decoration: none
	}
	
	a:not ([href] ):not ([tabindex] ):focus, a:not ([href] ):not ([tabindex]
		):hover {
		color: inherit;
		text-decoration: none
	}
	
	a:not ([href] ):not ([tabindex] ):focus {
		outline: 0
	}
	
	
	/* 중간 */
	
	[data-toggle=buttons]>.btn input[type=checkbox], [data-toggle=buttons]>.btn input[type=radio],
		[data-toggle=buttons]>.btn-group>.btn input[type=checkbox], [data-toggle=buttons]>.btn-group>.btn input[type=radio]
		{
		position: absolute;
		clip: rect(0, 0, 0, 0);
		pointer-events: none;
	}
	
	/* banner */
 		.footer_banner_zone{position:relative; background-color: none; margin-left: 15px; margin-right: 15px; height: auto}
 		.footer_banner_zone .flow_banner_box{position:relative; width:100%; background-color: yellow; height: auto; text-align: center;}
 		.footer_banner_zone .flow_banner_box .flow_bann_area{position:relative; margin: 0 auto; left: 0px; right: 0px; padding: 1%; background-color: white; padding-left: 45px}
 		.footer_banner_zone .flow_banner_box .flow_bann_area ul{*zoom:1;}
 		.footer_banner_zone .flow_banner_box .flow_bann_area ul:after{content:""; display:block; clear:both;}
 		.footer_banner_zone .flow_banner_box .flow_bann_area ul li{float:left; padding-right:9px;}
 		.footer_banner_zone .flow_banner_box .flow_bann_area ul li a{}
 		.footer_banner_zone .flow_banner_box .flow_bann_area ul li a img{border:1px solid #f2f2f2;}

		/* btn */
 		.flow_ctrl_box {}
 		.flow_ctrl_box a{position:absolute; top:26px;  width:16px; height:26px; background-image:url(./images/flow_ctrl_side_btn.gif);}
 		.flow_ctrl_box a.back{left:18px; background-position:0 0;}
 		.flow_ctrl_box a.next{right:18px; background-position:16px 0;}
 		.flow_ctrl_box a.play{background:none; width:auto; height:auto; top:0; left:-30px; font-size:13px; color:#fff; background:#333; border-radius:15px; text-decoration:none; padding:5px 10px;}
 		.flow_ctrl_box a.stop{background:none; width:auto; height:auto; top:31px; left:-30px; font-size:13px; color:#fff; background:#333; border-radius:15px; text-decoration:none; padding:5px 10px;}
/* 	a:link {text-decoration:none;} */
/* 	a.nav:link {text-decoration:none; color:black;} */
/* 	a.nav:visited {text-decoration:none; color:black;} */
	
/* 	table {border-collapse: collapse; */
/* 		text-align: center; */
/* 		color: black; */
/* 		width: 100%; */
/* 		padding: 0px 0px; */
/* 		margin: 0px 0px; */
/* 		background-color: rgba(256, 256, 256, 0.8); */
/* 		height: 100%; */
/* 		border: 1px solid black; */
/* 		} */
		
/* 	#bc {background-color: rgba(255, 119, 119, 0.8);} table ���� */
	
/* 	a.bt:link {text-decoration:none;  */
/* 			color:black;} */
			
/* 	a.bt:visited {text-decoration: none; */
/* 		   color: black;} */

/* 	* { */
/*     box-sizing: border-box; */
/* 	} */

	[class*="col-"] {
    float: left;
    padding: 15px;
    width: 100%;
	}
			
	<!-- For mobile phones:-->
	[class*="col-"] {

	}
	
	@media only screen and (min-width: 600px){<!--For tablets:-->
	.col-m-1 {width: 8.33%;}
	.col-m-2 {width: 16.66%;}
	.col-m-3 {width: 25%;}
	.col-m-4 {width: 33.33%;}
	.col-m-5 {width: 41.66%;}
	.col-m-6 {width: 50%;}
	.col-m-7 {width: 58.33%;}
	.col-m-8 {width: 66.66%;}
	.col-m-9 {width: 75%;}
	.col-m-10 {width: 83.33%;}
	.col-m-11 {width: 91.66%;}
	.col-m-12 {width: 100%;}
	}
	
	@media only screen and (min-width: 768px){<!--For computer:-->
	.col-1 {width: 8.33%;}
	.col-2 {width: 16.66%;}
	.col-3 {width: 25%;}
	.col-4 {width: 33.33%;}
	.col-5 {width: 41.66%;}
	.col-6 {width: 50%;}
	.col-7 {width: 58.33%;}
	.col-8 {width: 66.66%;}
	.col-9 {width: 75%;}
	.col-10 {width: 83.33%;}
	.col-11 {width: 91.66%;}
	.col-12 {width: 100%;}
	}
